<div class="map-wrapper">

    <div class="team-filter">

        <button
            class="all"
            [class.active]="teamFilterService.cesiumFilter() === TeamFilter.All"
            (click)="setAllForces()">

            👥

        </button>

        <button
            class="blue"
            [class.active]="teamFilterService.cesiumFilter() === TeamFilter.Blue"
            (click)="setBlueForces()">

            🔵

        </button>

        <button
            class="red"
            [class.active]="teamFilterService.cesiumFilter() === TeamFilter.Red"
            (click)="setRedForces()">

            🔴

        </button>

    </div>

    <div
        #cesiumContainer
        class="map">
    </div>

</div>